.hidden{
    display: none;
}

/* .ans-exist {
  margin-top: 20px;
  max-width: 100%;
  text-align: center;
  margin-top: 20px;
}

.ans-exist a {
  background: #e0ffe0;
  color: #333;
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid #4caf50;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(76, 175, 80, 0.1);
} */
